[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<2.0"
djangorestframework = "*"
dj-database-url = "*"
goodtables = "*"
json_logic_qubit = "*"
psycopg2-binary = "*"
pyyaml = "*"
requests = "*"
jsonschema = "*"
cchardet = "*"

[dev-packages]
flake8 = "*"
coverage = "*"
bandit = "==1.5.1"
codecov = "*"
ReVAL = {editable = true,path = "."}
