[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"e1839a8" = {path = ".", editable = true}
django = "==1.11"
dj-database-url = "*"
json-logic-py = {git = "https://github.com/qubitdigital/json-logic-py.git", editable = true}
sqlparse = "*"


[dev-packages]

ipython = "*"
ipdb = "*"
yapf = "*"
isort = "*"
vulture = "*"
jupyter = "*"
