[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}
django = "<2.0"
dj-database-url = "*"
pyyaml = "*"
django-rest-framework = "*"
requests = "*"
json-logic-py = {git = "https://github.com/qubitdigital/json-logic-py.git"}


[dev-packages]
flake8 = "*"
coverage = "*"
bandit = "*"
