<ul id="actions">
    <li><a href="{% url 'upload' object.id %}?{{ object.file_metadata_as_params }}">Reload</a></li>
    {% if object.status == 'LOADING' %}
    <li><a href="{% url 'review-errors' object.id %}">Load</a></li>
    {% endif %}
    <li><a href="{% url 'delete-upload' object.id %}">Delete</a></li>
    {% if object.status == 'STAGED' %}
    <li><a href="{% url 'insert' object.id %}">Insert</a></li>
    {% endif %}
</ul>

<table>
    <tr>
        <th>Status</th>
        <th>Uploaded at</th>
        {% for k, v in object.descriptive_fields.items %}
        <th>{{ k }}</th>
        {% endfor %}
    </tr>
    <tr>
        <td>{{ object.status }}</td>
        <td>{{ object.created_at }}</td>
        {% for k, v in object.descriptive_fields.items %}
        <td>{{ v }}</td>
        {% endfor %}
    </tr>
</table>

